.episodeContainer {
  display: flex;
  padding: 10px;
  width: 100%;
  text-align: left;
}
.episodeTitle{
  font-size: 18px;
}
.descriptionDesk {
  padding-left: 10px;
  max-width: 69%;
}
.btn {
  margin: 25px;
}

.imageEpisode {
  cursor: pointer;
  border-radius: 20px;
  width: 250px;
  height: 140px;
}
.description{
  line-height: 16px;
}
.ellips {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 16px;
}
.everyEpisode {
  max-width: 69%;
}
@media (max-width: 768px) {
  .descriptionDesk{
    padding: 0;
  }
  .episodeContainer {
    flex-direction: column;
    align-items: center;
  }
  .imageEpisode {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 499px) {
  .ellips {
    line-height: 16px;
  }
}
@media (max-width: 425px) {
  .everyEpisode{
    max-width: 100%;
  }
  .descriptionDesk{
    max-width: 100%;
  }
}
