.episodeContainer {
  display: flex;
  padding: 10px;
  width: 100%;
  text-align: left;
}

p {
  padding: 10px;
}

.btn {
  margin: 25px;
}

.imageEpisode {
  cursor: pointer;
  border-radius: 20px;
  width: 250px;
  height: 140px;
}

.ellips {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .ellips {
    white-space: normal;
  }
  .buttonRoll {
    display: none;
  }
}

@media (max-width: 499px) {
  .ellips {
    line-height: 16px;
  }
  .imageEpisode {
    width: 220px;
  }
}
@media (max-width: 376px) {
  .imageEpisode {
    width: 175px;
    height: 130px;
  }
}
