.serialContainer {
  max-width: 200px;
  padding: 5px;
}

.showImage {
  cursor: pointer;
  border-radius: 10px;
  width: 180px;
  height: 250px;
}
.title {
  font-size: 16px;
  font-weight: bold;
  color: rgb(90, 173, 119);
}
