.App {
  background-color: #5a769491;
  text-align: center;
  align-content: center;
  width: 55%;
  margin: 0 auto;
  color: #1e1448;
}
.serialList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  flex-flow: row wrap;
}
.content {
  max-width: 95%;
  margin: 0 auto;
}
@media (max-width: 1399px) {
  .App {
    width: 765px;
  }
}

@media (max-width: 768px) {
  .App {
    width: 100%;
  }
}
