.App {
  background-color: rgba(196, 173, 173, 0.877);
  text-align: center;
  align-content: center;
  width: 1000px;
  margin: 0 auto;
}
.serialList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  flex-flow: row wrap;
}
.content {
  width: 1000px;
}
